<main>
  <section class="fondo">
    <div class="container"><!--<img src="../../assets/inicio.png" alt="">-->
      <p>ONLINE QUOTES 6 BOOKING</p>
      <form>
          <label for="fname">ENTER POST CODE OR SUBRB</label>
          <input type="text" id="fname" name="fname">
          <label for="fname">Picup Date</label>
          <input type="text" id="fname" name="fname" placeholder="MM/DD/YYY">
          <label for="fname">Return Date</label>
          <input type="text" id="fname" name="fname" placeholder="MM/DD/YYY">
          <input type="submit" id="buttom" name="fname" value="Go To Step2">
        </form>
    </div>
  </section>
  <section class="grid">
    <div class="uno">
      <p class="label">
        AUTRALIA'S FIRST CHOICE
      </p>
      <p class="label">IN SKIP HIRE</p>
    </div>
    <div class="dos">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde alias minima neque, officia aliquam sint provident ut blanditiis officiis modi quasi deserunt corporis veniam facere? Eum, iusto nostrum! Delectus, harum.
      </p>
    </div>
    <div class="tres">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis hic, ab odit itaque dolorum, minima magnam explicabo officiis molestias nihil autem quisquam magni vero obcaecati blanditiis eos provident nisi illum!
      </p>
    </div>
  </section>
  <section class="abajo">
    <div >
      <ul>
        <a href="#"><li>Area Covered</li></a>
        <a href="#"><li>Same Day Service</li></a>
        <a href="#"><li>Same Day Turnaround</li></a>
        <a href="#"><li>Size Estimator</li></a>
        <a href="#"><li>Placement Guide</li></a>
        <a href="#"><li>Council Permits</li></a>
        <a href="#"><li>Mobile Skips</li></a>
      </ul>
    </div>
    <div class="contenido">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi natus reprehenderit, minus at incidunt, alias in quos quo placeat asperiores ducimus est tempore debitis, tenetur et dolore dolorem nam inventore.
      </p>
    </div>
  </section>
  <section class="grid">
    <div>
      <img src="../../assets/img1.png" alt="">
    </div>
    <div>
        <img src="../../assets/img2.png" alt="">
    </div>
    <div>
      <img src="" alt="">
    </div>
  </section>
</main>